
    <div class="col-sm-2 sidenav menu" id="menu">
        <!--<form class="form-horizontal" style="margin: 5px 0 0 5px;">
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" name="from" placeholder="FROM" required="" type="text">
                </div>
                <div class="col-xs-12">
                    <input class="form-control" name="to" placeholder="TO" required="" type="text">
                </div>
            </div>
        </form>-->
       
        <filtres></filtres>
    </div>
    <div class="col-sm-12 content-area">
        <nav class="menu-opener">
            <div class="menu-opener-inner"></div>
        </nav>
        <form class="way">
            <input class="form-control" placeholder="FROM" id="addressFrom" type="text" />
            <input class="form-control" placeholder="TO" id="addressTo" type="text" />
            <button type="button" class="btn btn-success">let's go</button></form>
            <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" id="gMap">
                <sebm-google-map-marker *ngFor="let station of stations" [latitude]="station.coordinates.latitude" [longitude]="station.coordinates.longitude" [iconUrl]="'assets/pin.png'">
                    <sebm-google-map-info-window [disableAutoPan]="true">
                        <strong>{{station.name}}</strong>
                    </sebm-google-map-info-window>
                </sebm-google-map-marker>
            </sebm-google-map>
</div>

