
    <div class="col-sm-2 sidenav menu" id="menu">  
        <filtres (notify)='onNotify($event)'></filtres>
    </div>
    <div class="col-sm-12 content-area">
        <nav class="menu-opener">
            <div class="menu-opener-inner"></div>
        </nav>
        <form class="way">
            <input class="form-control" placeholder="ОТКУДА" id="addressFrom" type="text" />
            <input class="form-control" placeholder="КУДА" id="addressTo" type="text" />
            <button type="button" (click)="onClick($event)" class="btn btn-success">Поехали</button></form>
            <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" id="gMap">
                <sebm-google-map-marker *ngFor="let station of stations" [latitude]="station.coordinates.latitude" [longitude]="station.coordinates.longitude" [iconUrl]="'assets/pin.png'">
                    <sebm-google-map-info-window [disableAutoPan]="true">
                        <strong>{{station.name}}</strong>
                        <!--<p>Услуги: {{station.codServices}}</p>-->
                    </sebm-google-map-info-window>
                </sebm-google-map-marker>
                    <my-map-control [stPoint]="stPoint" [finPoint]="finPoint"></my-map-control>
            </sebm-google-map>
</div>

