<!--<script type="text/javascript">
    $(".menu-opener").click(function () {
        console.log('click!');
        $(".menu-opener, .menu-opener-inner, .sidenav").toggleClass("active");
        
    });

</script>-->
<div class="container-fluid wrapper">
<div class="row-fluid columns content">
 <nav class="navbar navbar-inverse custom">
        <div class="container more">
            <div class="navbar-header left">
                <a class="navbar-brand" href="#"><img src="./assets/logo.png" style="margin-top: -18px;" /></a>
            </div>
            <div id="myNavbar">
                <ul>
                    <li><a [routerLink]="['/home']">{{home}}</a></li>
                    <li><a [routerLink]="['/about']">{{about}}</a></li>
                </ul>
            </div>
       </div>
</nav>
    <div class="moved">
        <router-outlet></router-outlet>     
  </div>
</div>
    <footer class="text-center">
        Fuel Up &copy; 2016
    </footer>
</div>
