

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container-fluid {
    margin: 0;
    padding: 0;
    height: 90%;
   

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#myNavbar {
    float:left;
    position: relative;
    left:0!important;
    margin-top:16px;
}
a {font-family: 'Arimo', sans-serif;
    font-size:16px;
    color: white;
}
a:hover {color:aliceblue;}
.more{width:auto;}
.moved {position:relative;
        overflow:hidden;
}
.navbar-header>.navbar-brand>img {
    width:170px;
    padding: 7px 0;
}

.col-sm-12
{
    padding: 0px!important;
    height: 100%;
}
.columns {
    height: 100%; 
    position: relative;}
      /*-webkit-transition:  left 0.4s ease-in-out;
        -moz-transition:  left 0.4s ease-in-out;
        -ms-transition:  left 0.4s ease-in-out;
        -o-transition:  left 0.4s ease-in-out;
        transition:  left 0.4s ease-in-out;*/

.sidenav{
    //overflow:hidden;
    position:absolute;
    z-index:1;
    background-color: #f1f1f1;
    height: 90%;
    left:100%;
}
footer {
    position: absolute;
    bottom: 0;
    height: auto;
    background-color: #555;
    color: white;
    //margin-top:2%;
    width:100%;
    padding: 0.5% 0;
    z-index:2;
}
.custom {
    margin:0!important;
    border-radius:0;
    }




