

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container-fluid {
    margin: 0;
    padding: 0;
    height: 86.3%;
   

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#myNavbar {
    font-family: 'Arimo', sans-serif;
    font-size:16px;
}
.navbar-brand>img {width:100%;}
.col-sm-10
{
    padding: 0px;
    height: 100%;
}
.columns {
    height: 100%;
}
.sidenav{
    overflow:hidden;
    background-color: #f1f1f1;
    height: 100%;
}
footer {
    height: 38px;
    background-color: #555;
    color: white;
    padding:0;
    margin-top:53px;
}
.custom {
    margin:0!important;
    border-radius:0;
}




