<script type="text/javascript">
    $(".menu-opener").click(function () {
        console.log('click!');
        $(".menu-opener, .menu-opener-inner, .sidenav").toggleClass("active");
        
    });

</script>
<div class="container-fluid wrapper">
<div class="row-fluid columns content">
 <nav class="navbar navbar-inverse custom">
        <div class="container more">
            <div class="navbar-header left">
                <a class="navbar-brand" href="#"><img src="./assets/logo.png" style="margin-top: -18px;" /></a>
            </div>
            <div id="myNavbar">
                <ul>
                    <li><a [routerLink]="['/home']">{{home}}</a></li>
                    <li><a [routerLink]="['/about']">{{about}}</a></li>
                </ul>
            </div>
       </div>
</nav>
    <div class="moved">
    <div class="col-sm-2 sidenav menu" id="menu">
        <form class="form-horizontal" style="margin-left:9px; margin-top:15px;">
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" name="from" placeholder="FROM" required="" type="text">
                </div>
                <div class="col-xs-12">
                    <input class="form-control" name="to" placeholder="TO" required="" type="text">
                </div>
            </div>
        </form>
        <filtres></filtres>
    </div>
    <div class="col-sm-12 content-area">
        <nav class="menu-opener">
            <div class="menu-opener-inner"></div>
        </nav>
        <router-outlet></router-outlet>     
    </div>
  </div>
</div>
    <footer class="text-center">
        Fuel Up &copy; 2016
    </footer>
</div>
