
    /*.cont {padding-top:10px;}*/
    .filters li:hover{
        background-color:black;
    }
    .filters li {
         width:100%;
         height:100%;
         margin-bottom:1px;
    }
    /*.filters li:nth-child(11n){
        margin-top:-5px;
        margin-bottom:5px;
    }*/
    .filters img{
        width:99%;
        height:99%;
    }
    ul {
    -moz-column-count: 3;
     -webkit-column-count: 3; 
     column-count: 3;
     list-style-type: none;
     margin-left: 0!important;
     padding: 0;
    }
    .imagePressed {
        background-color:#5DB75D;
    }
    .imageUnpressed:hover::after { 
        content: attr(data-title); 
        position: absolute; 
        left: 20%; top: 30%; 
        z-index: 1; 
        font-family: Arial, sans-serif; 
        font-size: 11px; 
        padding: 5px 5px; 
    }
    .apply{width:100%;}
    .my-ctrl {
        width:100%;
    }
